server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/clinicdb
    username: clinic
    password: clinic123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
logging:
  level:
    org.hibernate.SQL: debug